<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.modules.bi.mapper.zdOnlCgreportItemMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  onl_cgreport_item 
		WHERE
			 cgrhead_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.base.modules.bi.entity.zdOnlCgreportItem">
		SELECT * 
		FROM  onl_cgreport_item
		WHERE
			 cgrhead_id = #{mainId} 	</select>
</mapper>
