<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.modules.jeeerp.mapper.ConfErpItemMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  conf_erp_item 
		WHERE
			 query04 = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.base.modules.jeeerp.entity.ConfErpItem">
		SELECT * 
		FROM  conf_erp_item
		WHERE
			 query04 = #{mainId} 	</select>
</mapper>
